Repository Agromobile/app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

finishing touches on login and signup forms
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write

Saving final changes before updating with main
  src/components/footer/Footer.jsx
  src/components/footer/Footer.scss
Due: eslint, prettier --write, stylelint

main home page and main navbar
  package-lock.json
  package.json
  src/assets/fruiticon.png
  src/assets/hompageHero.png
  src/assets/icon.png
  src/assets/iconText.png
  src/assets/trust-banana.png
  src/assets/trust-veggie.png
  src/components/NavbarMain/NavbarMain.jsx
  src/components/index.js
  src/components/navbarAuth.jsx
  src/components/product/product.jsx
  src/components/product/product.scss
  src/layout/index.js
  src/pages/HomePage/HomePage.jsx
  src/pages/HomePage/Homepage.scss
  src/pages/home/Home.jsx
  src/pages/home/LandingPage.jsx
Due: eslint, prettier --write, stylelint

start impl. order summary page. Still making sense of the design.
  src/App.js
  src/components/navbar/navbar.scss
  src/pages/index.js
  src/pages/order_summary/OrderSummary.jsx
  src/pages/order_summary/order_summary.scss
Due: eslint, prettier --write, stylelint

Impl. cart summary section of order summary page
  src/pages/order_summary/OrderSummary.jsx
  src/pages/order_summary/order_summary.scss
Due: eslint, prettier --write, stylelint

progress in impl. for the additional info section on order summary page
  src/pages/order_summary/OrderSummary.jsx
  src/pages/order_summary/order_summary.scss
Due: eslint, prettier --write, stylelint

imprv mobile appearance of the additional info segment on the order summary page.
  src/pages/order_summary/order_summary.scss
Due: stylelint

Attempt impl. recommended product carousel. Failed
  src/pages/order_summary/OrderSummary.jsx
  src/pages/order_summary/order_summary.scss
Due: eslint, prettier --write, stylelint

Initialisation and latest changes to produce selection
  .eslintrc.json
  src/App.js
  src/assets/frame181.png
  src/assets/frame192.png
  src/assets/pic-1.png
  src/assets/pic-2.png
  src/assets/pic-3.png
  src/pages/index.js
  src/pages/produceselect/Produceselect.jsx
  src/pages/produceselect/produceselect.scss
  src/pages/sell/Sell.jsx
  src/pages/sell/sell.scss
Due: eslint, prettier --write, stylelint

Progress impl. the carousel on order summary page
  src/pages/order_summary/OrderSummary.jsx
  src/pages/order_summary/order_summary.scss
Due: eslint, prettier --write, stylelint

impl. cards on product carousel for order summary page
  src/pages/order_summary/OrderSummary.jsx
  src/pages/order_summary/order_summary.scss
Due: eslint, prettier --write, stylelint

Impl. payment page base U.I design
  src/App.js
  src/pages/index.js
  src/pages/payment/Payment.jsx
  src/pages/payment/payment.scss
Due: eslint, prettier --write, stylelint

Impl. bank transfer input option
  src/pages/payment/Payment.jsx
  src/pages/payment/payment.scss
Due: eslint, prettier --write, stylelint

Made progress in improving payment form
  src/pages/payment/Payment.jsx
  src/pages/payment/payment.scss
Due: eslint, prettier --write, stylelint

Utils: Modified stylelint config file to enable use of vendor prefix
  .stylelintrc.json
Due: none

Main repo pull and update
  src/App.js
  src/components/product/product.jsx
  src/pages/productdetail/ProductDetail.jsx
Due: eslint, prettier --write

Impl. login home and navbar appearance transition
  src/components/navbarAuth.jsx
  src/context/auth-context.jsx
  src/index.js
  src/pages/home/Home.jsx
  src/pages/login/Login.jsx
Due: eslint, prettier --write

Path conditions:
  eslint: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  stylelint: (any of: *.css) or (any of: *.scss)
