Repository Agromobile/app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "eslint",
    "prettier --write"
  ],
  "*.ts": [
    "eslint",
    "prettier --write"
  ],
  "*.jsx": [
    "eslint",
    "prettier --write"
  ],
  "*.tsx": [
    "eslint",
    "prettier --write"
  ],
  "*.css": "stylelint",
  "*.scss": "stylelint"
}

Setup: Introduce basic routing for the project
  src/App.css
  src/App.js
  src/components/Footer.jsx
  src/components/Navbar.jsx
  src/components/index.js
  src/routes/Home.jsx
  src/routes/index.js
Due: eslint, prettier --write, stylelint

Trying some things out
  src/components/styles/Footer.module.scss
Due: stylelint

Testing some stuffs
  src/routes/styles/Home.module.scss
Due: stylelint

fixed prettier errors for windows
  .eslintrc.json
  .prettierrc
  src/components/footer/Footer.jsx
  src/components/index.js
  src/components/navbar/Navbar.jsx
  src/components/styles/Footer.module.scss
  src/pages/home/Home.jsx
  src/pages/index.js
  src/routes/index.js
  src/routes/styles/Home.module.scss
Due: eslint, prettier --write, stylelint

Update: fix wrong Home importation
  src/App.js
Due: eslint, prettier --write

Navbar component Design
  package-lock.json
  package.json
  public/index.html
  src/assets/logo.png
  src/assets/small-logo.png
  src/components/navbar/Navbar.jsx
  src/components/navbar/navbar.css
Due: eslint, prettier --write, stylelint

Add SASS as dep and fixed file extensions 4rm .css to .scss
  package-lock.json
  package.json
  src/components/navbar/Navbar.jsx
  src/components/navbar/navbar.scss
Due: eslint, prettier --write, stylelint

Revamp app routing with layouts
  src/App.js
  src/index.js
  src/layout/index.js
Due: eslint, prettier --write

fixed sass errors for windows
  package-lock.json
  package.json
Due: none

adopted the changes
  package-lock.json
Due: none

Attempt at implementing modal signup page on smaller screens
  src/components/navbar/Navbar.jsx
Due: eslint, prettier --write

impl. modal Signup page on larger screens
  src/App.js
  src/components/navbar/Navbar.jsx
  src/pages/index.js
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

start impl. of Signup form for personal accounts
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

work on input fields for text, password & email
  .stylelintrc.json
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

trying to create distinct fields for user input
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write

complete work on phone & email input. phone input still buggy though
  package-lock.json
  package.json
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

impl. input fields for signup page. Few bugs left.
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

bugfix: password visibility no longer toggled by ENTER press
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write

Impl. close modal functionality; encountered bug in phone number input form.
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

complete personal signup form UI
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

Save changes to package-lock.json before merge
  package-lock.json
Due: none

Impl. screen lock when modal signup displayed.
  src/App.js
  src/index.css
  src/pages/home/Home.scss
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

Fix stylelint issues in scss
  src/components/footer/Footer.jsx
  src/components/footer/Footer.scss
Due: eslint, prettier --write, stylelint

Footer responsiveness update
  src/components/footer/Footer.jsx
  src/components/footer/Footer.scss
Due: eslint, prettier --write, stylelint

Integrated signup with backend
  package-lock.json
  package.json
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write

k
  package-lock.json
  package.json
  src/App.js
  src/index.js
  src/pages/Login/Login.jsx
Due: eslint, prettier --write

create seperate LandingPage route for unauthenticated users
  src/pages/home/Home.jsx
  src/pages/home/LandingPage.jsx
Due: eslint, prettier --write

Impl. primitive authentication switch logic for dev purposes
  src/pages/home/Home.jsx
Due: eslint, prettier --write

Update Navbar.jsx
  src/components/navbar/Navbar.jsx
Due: eslint, prettier --write

start work impl. login page
  src/App.js
  src/components/navbar/Navbar.jsx
  src/layout/index.js
  src/pages/home/Home.jsx
  src/pages/index.js
  src/pages/login/Login.jsx
  src/pages/login/login.scss
Due: eslint, prettier --write, stylelint

start work impl. login page.
  src/pages/login/Login.jsx
  src/pages/login/login.scss
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

Elim. redundancy by refactoring input components out of page definitions
  src/components/index.js
  src/components/input/index.js
  src/components/input/input.scss
  src/pages/login/Login.jsx
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
  src/utils/hooks/useactiveinput.jsx
  src/utils/index.js
Due: eslint, prettier --write, stylelint

Refactor input fields into seperate files 4 better organization.
  src/components/input/emailinput.jsx
  src/components/input/index.js
  src/components/input/passwordinput.jsx
  src/components/input/phoneinput.jsx
  src/components/input/textinput.jsx
Due: eslint, prettier --write

minor issues integrating signup and login with backend
  package-lock.json
  package.json
  src/components/input/phoneinput.jsx
  src/pages/login/Login.jsx
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write

progress made on integrating login & signup functionality.
  src/App.js
  src/components/input/textinput.jsx
  src/pages/login/Login.jsx
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write

start work on making login & signup more interactive
  src/components/navbar/Navbar.jsx
  src/pages/login/Login.jsx
  src/pages/login/login.scss
  src/pages/signup/SignUp.jsx
  src/pages/signup/signup.scss
Due: eslint, prettier --write, stylelint

refactoring study
  src/components/navbar/Navbar.jsx
  src/pages/login/Login.jsx
Due: eslint, prettier --write

Impl.⚙️ new Loading bar for the loading state of the login & signup forms.
  src/components/index.js
  src/components/loadingBar/Loading.jsx
  src/components/loadingBar/loading.scss
  src/pages/login/Login.jsx
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write, stylelint

finishing touches on login and signup forms
  package-lock.json
  package.json
  src/index.js
  src/pages/login/Login.jsx
  src/pages/signup/SignUp.jsx
Due: eslint, prettier --write
